<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.LoginuserDao">

    <!--表loginuser-->
    <select id="login" resultType="com.example.demo.domain.LoginuserDO">
        SELECT * FROM loginuser where username=#{username} and password=#{password}
    </select>

    <select id="register" resultType="com.example.demo.domain.LoginuserDO">
        insert into loginuser (USERNAME,PASSWORD)value(#{username},#{password});
    </select>
</mapper>
