<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.TimeRecordDao">

    <!--表information-->
    <select id="time" resultType="com.example.demo.domain.TimeRecordDO">
        SELECT * FROM time
    </select>

</mapper>
