@charset "UTF-8";
*{
    padding: 0 ;
    margin: 0 ;
    font-family: "微软雅黑" ;
}
.header {
    height: 72px ;
    background: #458fce ;
}
.header .logo {
    color: #fff ;
    line-height: 72px ;
    font-size: 30px ;
    margin-left: 20px ;
    display:inline-block ;
    font-weight:500 ;
    /* 给logo加一个浮动 */
    float: left ;   
}
/* 把 li 的小圆点去掉 */
ul li {
    list-style: none ;
}
.header ul li {
	/* 给每一个 li 添加一个左浮动 */
    float: left ;
    color: #fff ;
    display: inline-block ;
    width: 112px ;
    height: 72px ; 
    text-align: center ;
    line-height:72px ;
    /* 当我鼠标划上去的时候，让鼠标变成一个小手 */
    cursor: pointer ;
}
.header ul li.first {
    margin-left: 30px ;
    /* 首页加个背景色 */
    background:#74b0e2 ;
}
/* 因为默认的a标签会有下划线，字体颜色是蓝色，为了美观，我们修改一下a标签的样式 */
a {
    color: #fff ;
    text-decoration: none ;
}
/* 给导航按钮添加hover事件 */
.header ul li:hover {
    background:#74b0e2 ;
}
/* 登录，注册的样式 */
.header .login {
    float: right ; 
    color: #fff ;
    line-height: 72px ;
    margin-right: 20px ;
}

