<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>交互</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <script src="js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="js/loginuser.js"></script>

</head>
<body>
<div class='show'>
    <img src="img/msg.png"></img>
</div>

<!-- 登陆框 -->
<div class='content'>
    <div class='logo'>你好，世界！</div>
    <div class='inputBox mt50 ml32'>
        <input type="text" id="username" autofocus="autofocus"
               autocomplete="off" maxlength="22" size="22" placeholder="请输入账号/邮箱/手机号">
    </div>
    <div class='inputBox mt50 ml32'>
        <!--autofocus意思是当页面加载input是自动为页面焦点,autocomplete是否开启自动保存-->
        <input type="password" id="password" autofocus="autofocus"
                   autocomplete="off" maxlength="20" size="20" placeholder="请输入密码">
    </div>
    <!--onmouseover鼠标移上去现实，onmouseout鼠标移出后-->
    <div class='mt50 ml32'>
        <button class="login_btn" onclick="login()" onmouseover = "changesLoginLogo()" onmouseout = "restoreLoginLogo()">登陆</button>
        <button class="login_zhuce" onclick="register()" onmouseover = "changeszhuceLogo()" onmouseout = "resetorezhuceLogo()">注册</button>
    </div>
</div>

<script>

</script>

</body>
</html>